* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-image: url(../img/background.webp);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: rgb(0, 0, 0);
}
header{
width: 100%;
/* border: 1px solid black; */
height: 300px;
>figure{
    background-color: rgb(101, 168, 223);
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    >figcaption{
        width: 100%;
        height: 80px;
        /* border: 1px solid blue; */
        text-align: center;
        font-size: 50px;
        color: white;
    }
}
}
nav{
width: 100%;
height: 60px;
background-color: rgb(61, 126, 179);
display: flex;
justify-content: center;
align-items: center;
position: sticky;
top: 0;
z-index: 999;
>ul{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    >li{
        width: 25%;
        height: 70%;
        list-style-type: none;
        border: 1px solid rgba(255, 255, 255, 0.358);
        margin: 0 2px;
        position: relative;
        border-radius: 5px;
        &:hover{
            border: 1px solid white;
            background-color: white;
            >a{
                color: rgb(42, 100, 147);
            }
        }
        >a{
            display: flex;
            width: 100%;
            height: 100%;
            color: white;
            justify-content: center;
            align-items: center;
            padding: 0 40px;
            text-decoration: none;
        }
        &:nth-of-type(1){
            &:hover{
                >ul{
                    visibility: visible;
                    opacity: 1;
                    >li{
                        top: 0;
                    }
                }
            }
            >ul{
                visibility: hidden;
                position: relative;
                width: 800px;
                height: 400px;
                display: flex;
                transition: .8s;
                opacity: 0;
                overflow: hidden;
                background-color: rgb(254, 249, 228);
                margin-top: 10px;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                >li{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -100%;
                    transition: .8s;
                    list-style-type: none;
                    margin: 20px;
                    display: flex;
                    padding-right: 30px;
                    >div{
                        width: 100%;
                        height: 80%;
                        &:nth-of-type(1){
                            width: 60%;
                            margin: 20px;
                            /* border: 1px solid red; */
                            padding: 10px;
                            >h5{
                                font-size: 25px;
                                padding-bottom: 10px;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                            }
                            >p{
                                font-size: 15px;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            }
                            >div{
                                width: 120px;
                                height: 40px;
                                /* border: 1px solid red; */
                                margin-top: 40px;
                                border-radius: 3px;
                                background-color: rgb(255, 64, 0);
                                >a{
                                    display: flex;
                                    width: 100%;
                                    height: 100%;
                                    justify-content: center;
                                    align-items: center;
                                    text-decoration: none;
                                    color: wheat;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            width: 20%;
                            margin: 20px;
                            border-left: 1px solid rgb(189, 189, 189);
                            padding: 10px;
                            margin-right: 0;
                            >a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: rgb(104, 103, 103);
                                font-size: 15px;
                                padding-block: 5px;
                                &:hover{
                                    color: rgb(27, 26, 26);
                                }
                            }
                        }
                        &:nth-of-type(3){
                            width: 20%;
                            margin: 20px;
                            border-left: 1px solid rgb(189, 189, 189);
                            padding: 10px;
                            margin-left: 0;
                            >a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: rgb(104, 103, 103);
                                font-size: 15px;
                                padding-block: 5px;
                                &:hover{
                                    color: rgb(27, 26, 26);
                                }
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(3){
            &:hover{
                >ul{
                    visibility: visible;
                    opacity: 1;
                    >li{
                        top: 0;
                    }
                }
            }
            
            >ul{
                background-color: rgb(254, 249, 228);
                width: 200%;
                border-bottom-right-radius: 7px;
                border-bottom-left-radius: 7px;
                margin-top: 10px;
                height: 400px;
                opacity: 0;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                transition: .8s;
                >li{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: -100%;
                    transition: .8s;
                    padding-bottom: 20px;
                    >.div1{
                        width: 100%;
                        height: 25%;
                        /* border: 1px solid red; */
                        >h5{
                            width: 100%;
                            text-align: left;
                            padding-left: 20px;
                            /* border: 2px solid blue; */
                            font-size: 20px;
                            padding-top: 20px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                        >p{
                            width: 100%;
                            font-size: 14px;
                            padding-inline: 20px;
                            padding-top: 10px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                    }
                    >form{
                        width: 100%;
                        height: 75%;
                        /* border: 2px solid yellowgreen; */
                        >label{
                            display: block;
                            justify-content: start;
                            padding-left: 20px;
                            padding-top: 10px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            /* border: 3px solid green; */
                            margin-bottom: 5px;
                        }
                        >input{
                            display: block;
                            margin-inline: auto;
                            height: 20px;
                            &:last-of-type{
                                height: 60px;
                            }
                        }
                        >.div2{
                            width: 100%;
                            height: 55px;
                            display: flex;
                            justify-content: center;
                            padding-top: 30px;
                            /* border: 2px solid red; */
                            align-items: center;
                            >input{
                                width: 80px;
                                height: 30px;
                                background-color: rgb(255, 64, 0);
                                border: none;
                                border-radius: 2px;
                                color: rgb(250, 239, 239);
                                transition: .4s;
                                &:first-of-type{
                                    margin-right: 10px;
                                }
                                &:last-of-type{
                                    margin-left: 10px;
                                }
                                &:hover{
                                    color: rgb(255, 64, 0);
                                    background-color: rgb(250, 239, 239);
                                    border: 1px solid rgb(168, 168, 168);
                                }
                            }
                        }
                    }
                }
            }
    }
}
}
}
main{
width: 100%;
height: 100vh;
>section{
width: 100%;
height: 100%;
>article{
    width: 100%;
    height: 100%;
    padding: 100px 100px 0 100px;
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    >figure{
        width: 100%;
        height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 100px 0;
            >img{
                width: 800px;
                height: 400px;
                border-radius: 8px;
            }
        }
        >div{
            width: 100%;
            margin-top: 150px;
            padding: 50px 0 200px 0;
            >h5{
                width: 100%;
                text-align: left;
                border-top: 1px solid rgb(60, 59, 59);
                border-bottom: 1px solid rgb(60, 59, 59);
                margin-bottom: 20px;
            }
            >figure{
                width: 100%;
                display: flex;
                border-bottom: 3px solid rgb(48, 48, 48);
                padding-bottom: 20px;
                >img{
                    width: 400px;
                    margin: auto;
                    border: 1px;
                    border-radius: 8px;
                    transition: .4s;
                    &:hover{
                        scale: 1.2;
                    }
                }
            }
        }
    }
}
}